#cart-section,
#booking-section {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: white;
  margin-top: 200px;
  border-radius: 6px;
  margin-bottom: 100px;
}

#cart-footer {
  color: white;
  background-color: #061848;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#cart-header,
#booking-header {
  text-align: center;
  margin: 30px 0px;
}

#cart-list,
#booking-list {
  padding: 0 40px 40px 40px;
}

.trip-row {
  display: flex;
  justify-content: space-between;
  background-color: #f5eeec;
  margin-bottom: 20px;
  border-radius: 6px;
  align-items: center;
  padding: 0 10px;
}

.result-trip-time,
.result-trip-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
}

.result-trip-departure {
  justify-content: end;
}

.result-trip {
  justify-content: start;
}

.result-trip,
.result-trip-departure {
  width: 200px;
  display: flex;
  align-items: center;
}

#booking-section .result-trip {
  min-width: 0;
}

#cart-section-content-results,
#booking-section-content-results {
  display: none;
}

#total-container {
  margin-left: 15px;
}

#cart-section-content-no-results,
#booking-section-content-no-results {
  display: none;
  align-items: center;
  flex-direction: column;
}

#booking-description {
  color: #3ca48e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

#line {
  width: 200px;
  border: solid 1px;
  margin: 0 auto;
}

.delete-trip {
  height: 30px;
  aspect-ratio: 1 / 1;
  width: 35px;
  padding: 0;
  align-items: center;
}
